#list{
    font-size: 25 px;
    font-family: cursive;
    justify-content:center;
    display:flex ;
    flex-direction: column;
    align-items: center;
    
}
#list li{
    font-size: 2rem;
}

#myForm{
    padding-top: 10rem;
}
#original{
font-style: italic; 
font-size:5rem;
text-align: center;
padding: 1rem;
}
#button-box{
    display:flex;
    justify-content: space-around;
    padding:1rem;
}
#button-box button{
    display:block;
    padding:1rem;
}
#input{
    width:80%;
    padding:2rem;
    display:block;
border-radius:25% ;
}
#word-label{
    display:flex;
    margin:auto;
   
    justify-content:center;
}
#list-head{
    text-align: center;
}
body{
    background-image: linear-gradient(tan,grey);
}
#remove{
    justify-content:center;
    display:flex;
    margin:auto;
    height:3rem;
   
}
#remove:hover{
    background-color: darkkhaki;
    font-size: 2rem;
   cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#add-task{
    justify-content:center;
    display:flex;
    margin:auto;
    height:3rem;
    cursor:pointer;
    
}
#add-task:hover{
    background-color: darkkhaki;
    font-size: 2rem;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#word-label1{
  display:flex;
    margin:auto;
   
    justify-content:center;
}
#input-1{  
  width:80%;
  padding:2rem;
  display:block;
border-radius:25% ;
}
#addremove-buttons{
    display:flex;
    justify-content: space-around;
    padding:2rem;
}
#navbar{
    display:flex;
    list-style-type: none;
    width:100%;
    background-color: grey;
    padding:1.5rem;
    justify-content: space-around;

  }
  li{
    font-size:1.5rem;
  }
  .nav-section{
    display:none;
  
  }
  .navlink:hover{
    cursor: pointer;
  }
  header{
    position:sticky;
    top:0;
  }
  #section-1{
    display:none;
    border :1px solid black ;
  }
  #section-2{
    display:none;
    border: 5px dashed black;
  }
  #home-1{
    font-size: 10rem;
   font-family: fantasy;
   justify-content:center;
   display:flex;
  }
  #summary{
    font-size:3rem;
  }
  footer{
    position:sticky;
    bottom:0;
    background-color: beige;
    padding:2rem;
    width:100%;
    display:flex;
    justify-content: center;
  }